#nav {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    margin-top: 2rem;
    margin-left: 4rem;
}

.button {
    display: inline-block;
    background-color: transparent;
    border: solid #3c546c;
    color: #3c546c;
    padding: 3px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    font-weight: 400;
    border-radius: 8px;
    margin-right: 1rem;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.658);
}

#root {
    background: url('./bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}