.edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 2rem;
    text-align: center;
    z-index: 9999;
    background-color: aliceblue;
    border-radius: 5px;
    color: #2C3E50;
    border: solid #2c3e5039;
}

.edit-form button {
    margin: 1rem;
}